---
import Layout from '../layouts/Layout.astro';
import Comments from '../components/Comments.astro';
---

<Layout title="Archive - Hanna's Happenings">
  <h1>Newsletter Archive</h1>
  <p>All past issues of <i>Hanna's Happenings</i> are available here!<p>
  <p>Each issue follows a different creative project, hobby, or theme. I release new issues on the last day of each month.</p>
  <h2>2026</h2>
  <div class="issue">
    <h3><a href="/newsletter/April-2026.pdf">April 2026 - Made with Love</a></h3>
    <p>Handmade gifts for people I love. This issue includes linocut printing, amigurumi crochet, beaded embroidery, and more!</p>
  </div>
  <div class="issue">
    <h3><a href="/newsletter/March-2026.pdf">March 2026 - Denim Upcycling </a></h3>
    <p>I transformed a pair of old jeans into a statement piece using a classic quilt block motif. Plus an upcycled denim patchwork pouch.</p>
  </div>
  <div class="issue">
    <h3><a href="/newsletter/February-2026.pdf">February 2026 - Fermentation Lab Notes </a></h3>
    <p>This food-focused issue includes notes and suggestions from my winter fermentation experiments.</p>
  </div>
  <div class="issue">
    <h3><a href="/newsletter/January-2026.pdf">January 2026 - Nature Notes Issue </a></h3>
    <p>A bit of natural science, a sprikle of art, and a number of things I've learned from and about the natural world.</p>
  </div>

  <h2>2025</h2>
  <div class="issue">
    <h3><a href="/newsletter/December-2025.pdf">December 2025 - Reading Recap </a></h3>
    <p>Facts, figures, and reflections from on my 2025 reading list.</p>
  </div>
  <div class="issue">
    <h3><a href="/newsletter/November-2025.pdf">November 2025 - Fall Food Issue </a></h3>
    <p>Some food content I've been cooking up plus two original recipes: Seedy Date Granola and <i>Hanna's Signature Chili Crisp!</i></p>
  </div>
  <div class="issue">
    <h3><a href="/newsletter/October-2025.pdf">October 2025 - Fall Fiber Arts Issue</a></h3>
    <p>The innaugural issue <i>Hanna's Happenings</i>, featuring a collection of fiber arts projects.</p>
  </div>

  <Comments />

  <p style="margin-top: 2rem; text-align: center;">
    <a href="/">← Back to home</a>
  </p>
</Layout>
