---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hanna's Happenings</title>
  </head>
  <body>
    <h1>Hanna's Happenings</h1>
    <p>A monthly newsletter by Hanna D. Clements, PhD exploring hobbies and creative pursuits.</p>

    <h2>Subscribe</h2>
    <p><a href="https://buttondown.com/hannnashappenings">Join the mailing list</a></p>

<h2>Archive</h2>
    <ul>
      <li><a href="/newsletter/March-2026.pdf">March 2026</a></li>
      <li><a href="/newsletter/February-2026.pdf">February 2026</a></li>
      <li><a href="/newsletter/January-2026.pdf">January 2026 (correction)</a></li>
      <li><a href="/newsletter/December-2025.pdf">December 2025</a></li>
      <li><a href="/newsletter/November-2025.pdf">November 2025</a></li>
      <li><a href="/newsletter/October-2025.pdf">October 2025</a></li>
    </ul>

  </body>
</html>
